@import "tailwindcss";
@font-face {
  font-family: Cinzel;
  src: url(../src/assets/fonts/Cinzel-VariableFont_wght.ttf)
}

@theme {
  --font-cinzel: Cinzel, "sans-serif";
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.mask-inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.mask {
  position: absolute;
  inset: 0;
  background: #3b5270;
  transform-origin: right;
  transform: scaleX(1);
  z-index: 2;
}