@import "tailwindcss";

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.mask-inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.mask {
  position: absolute;
  inset: 0;
  background: #000;
  transform-origin: left;
  transform: scaleX(1);
  z-index: 2;
}